name: ZAP API Scan (Authenticated)

on:
  workflow_dispatch:

jobs:
  zap-api-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ZAP API Scan
        uses: zaproxy/action-api-scan@v0.7.0
        with:
          target: "https://demo.testfire.net/swagger/properties.json"
          format: "openapi"
          fail_action: false
          rules_file_name: ""
          cmd_options: >
            -z "inject.header=Authorization: YW5OdGFYUm86WkdWdGJ6RXlNelE9Oj8DP1IWYC0="
            -z "inject.header=Accept: application/json"

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap-report.html
